* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #412567;
  padding: 16px 0;
  max-width: 1600px;
  margin: 0 auto;
}

nav h1 {
  font-size: 28px;
  font-weight: 600;
  margin-left: 200px;
  color: white;
}

.wave {
  background: linear-gradient(to bottom, #9d0b4a, #d45d93);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.btn {
  margin-right: 200px;
  padding: 12px 18px;
  background-image: linear-gradient(to bottom left, rgb(222, 241, 110),rgb(224, 79, 133), rgb(172, 53, 246));
  background-size: 200% auto;
  color: white;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-position: right center;
}

.menue-icon {
  display: none !important;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 576px) {

  nav {
    padding: 16px;
  }

  nav h1 {
    margin-left: 20px;
  }

  nav ul {
    display: none;
  }

  .btn {
    display: none;
  }

  .menue-icon {
    display: block !important;
    margin-right: 20px;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #412567;
  padding: 16px 0;
  max-width: auto;
  margin: 0 auto;
}

nav h1 {
  font-size: 28px;
  font-weight: 600;
  margin-left: 50px;
  color: white;
}
.btn {
  margin-right: 50px;
  padding: 12px 18px;
  background-image: linear-gradient(to bottom left, rgb(222, 241, 110),rgb(224, 79, 133), rgb(172, 53, 246));
  background-size: 200% auto;
  color: white;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
}
