* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #412567;
  padding: 16px 0;
  max-width: 1600px;
  margin: 0 auto;
}

nav h1 {
  font-size: 28px;
  font-weight: 600;
  margin-left: 200px;
  color: white;
}

.wave {
  background: linear-gradient(to bottom left, #6b018b, rgb(184, 70, 70), #ce7502);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.btn {
  margin-right: 200px;
  padding: 12px 18px;
  background-image: linear-gradient(to bottom left, rgb(222, 241, 110), rgb(224, 79, 133), rgb(172, 53, 246));
  background-size: 200% auto;
  color: white;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-position: right center;
}

.menue-icon {
  display: none !important;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 576px) {

  nav {
    padding: 16px;
  }

  nav h1 {
    margin-left: 20px;
  }

  nav ul {
    display: none;
  }

  .btn {
    display: none;
  }

  .menue-icon {
    display: block !important;
    margin-right: 20px;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #412567;
    padding: 16px 0;
    max-width: auto;
    margin: 0 auto;
  }

  nav h1 {
    font-size: 28px;
    font-weight: 600;
    margin-left: 50px;
    color: white;
  }

  .btn {
    margin-right: 50px;
    padding: 12px 18px;
    background-image: linear-gradient(to bottom left, rgb(222, 241, 110), rgb(224, 79, 133), rgb(172, 53, 246));
    background-size: 200% auto;
    color: white;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }
}

/* ---------------- HERO SECTION ---------------- */


.hero {
  width: 1600px;
  max-width: 100%;
  height: 760px;
  margin: 0 auto;
  position: relative;
}


.hero-section {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 60px;
}


.hero-circle-wrapper {
  position: relative;
  width: 420px;
  height: 420px;
  margin: 0 auto;
}

.hero-circle-wrapper .circle {
  width: 100%;
  height: auto;
}

.microphone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
}

.p-text {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: #30B868;
  color: rgb(0, 0, 0);
  padding: 8px 20px;
  border-radius: 12px;
  font-weight: 600;
  font-size:14px;
}

.hero-text {
  margin-top: 40px;
}

.hero-text h1 {
  color: white;
  font-size: 60px;
  font-weight: 900;
}

.hero-section p {
  color: white;
}

.two-button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  margin-top: 18px;
  margin-bottom: 10px;
}

.btn1 {
  padding: 12px 20px;
  background-image: linear-gradient(to bottom left, rgb(222, 241, 110), rgb(224, 79, 133), rgb(172, 53, 246));
  background-size: 200% auto;
  color: white;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}

.btn1 span {
  display: inline-block;
  animation: floatText 2s ease-in-out infinite;
}

@keyframes floatText {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(8px);
  }

  100% {
    transform: translateX(0);
  }
}

.btn1:hover {
  background-position: right center;
}

.btn2 {
  border: 2px solid #30B868;
  background: none;
  font-weight: 700;
  font-size: 16px;
  color: #30B868;
  padding: 12px 20px;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.btn2:hover {
  background: #30B868;
  color: white;
  border-color: #30B868;
}

@media (max-width: 576px) {
  .hero-section {
    top: 0;
    left: 0;
    width: auto;
    height: 420px;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero {
    height: 100%;
  }

  .hero-circle-wrapper {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 0 auto;
  }

  .microphone {
    width: min(35vw, 70px);
  }

  .p-text {
    font-size: 12px;
    padding: 6px 16px;
  position: absolute;
  top: 10px;
  right: 5px;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  font-weight: 600;

}
  

  .hero-text {
    margin-top: 5px;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .btn1,
  .btn2 {
    width: auto;
    padding: 10px 14px;
    font-size: 14px;
  }
}

.container {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #412567;
}

.potcast {
  background-color: #1A0B2E;
  color: white;
  text-align: center;
  padding: 50px 200px 120px 200px;

}

.potcast h1 {
  font-size: 48px;
}

.potcast p {
  padding-top: 16px;
}

hr {
  margin-top: 80px;
  margin-bottom: 80px;
  border: none;
  height: 1px;
  background-color: white;
}

.count {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.count h2 {
  font-size: 48px;
  color: #00FF88;
}

@media (max-width: 576px) {
  .potcast {
    background-color: #1A0B2E;
    color: white;
    text-align: center;
    padding: 40px 20px 40px 20px;
  }

  .potcast h1 {
    font-size: 32px;
  }

  .count h2 {
    font-size: 40px;
    color: #00FF88;
  }
}

.techvave {
  padding: 120px 200px;
  background-color: #230E3D;
}

.techvave h1 {
  text-align: center;
  color: white;
  font-size: 48px;
}

.tech {
  display: grid;
  gap: 30px;
  padding-top: 40px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.grid-level {
  color: white;
  padding: 40px;
  background-color: #2b0b55;
  border-radius: 40px;
}

.grid-level h4 {
  margin-top: 16px;
  padding-bottom: 16px;

}

.headphone {
  grid-column: span 1;
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.device {
  grid-column: span 2;
  grid-row: span 1;
}

.location {
  grid-column: span 2;
  grid-row: span 1;
}

.bolt {
  grid-column: span 2;
  grid-row: span 1;

}

@media (max-width: 576px) {

  .techvave {
    padding: 40px 20px;
    background-color: #230E3D;
  }

  .tech {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 16px;

  }

  .techvave h1 {

    font-size: 32px;
  }
}

.episod {
  padding: 120px 200px;
  background-color: #1A0B2E;
}

.video h1 {
  text-align: center;
  color: white;
  font-size: 48px;
}

.i-video {
  display: flex;
  gap: 30px;
  padding-top: 40px;
  color: white;
  flex-wrap: wrap;
}

.i-text {
  padding: 24px;
  background-color: #250D44;
}

.i-text h2 {
  font-size: 24px;
}

.i-text p {
  padding-top: 12px;
  padding-bottom: 12px;
}

.i-text span {
  color: #00FF88;
}

.ph {
  background-color: #250D44;
  width: 380px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.gopalvar {
  background-color: #250D44;
  width: 380px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.harry {
  background-color: #250D44;
  width: 380px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

@media (max-width: 576px) {
  .episod {
    padding: 40px 20px;
  }

  .i-video {
    display: flex;
    gap: 16px;
    padding-top: 24px;
    color: white;
    align-items: center;
    justify-content: center;
  }
  .video h1 {
    font-size: 39px;
  }

}

.host {
  padding-top: 120px;
  color: white;
}

.host h2 {
  text-align: center;
  font-size: 48px;
  padding-bottom: 40px;
}

.alex {
  background-color: #250D44;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 40px;
  border-radius: 30px;
}

.alex h4 {
  font-size: 32px;
}

.alex p {
  padding-top: 16px;
}

.s-icon {
  padding-top: 16px;
  display: flex;
  gap: 8px;

}

.s-icon img {
  height: 40px;
  border: 2px solid gray;
  border-radius: 100%;
  padding: 5px;
}

@media (max-width: 576px) {
  .alex {
    background-color: #250D44;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 40px;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 40px;
  }

  .s-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
  }

  .host {
    align-items: center;
    text-align: center;
    margin: auto 0;
    padding-top: 60px;
  }
}

.foot {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url("./assets/footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 60px;
}

footer {
  width: 1600px;
  max-width: 100%;
  height: 250px;
  margin: 0 auto;
  position: relative;
}

.footer-icon {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 32px;
}


.copyright {
  color: white;
  padding-top: 32px;
}

.foot h1 {
  color: white;
  font-size: 60px;
}

@media (max-width: 576px) {
  .foot {
    width: 100%;
    min-height: 280px;
    /* ensures space for footer */
    text-align: center;
    background-image: url("./assets/footer-bg.png");
    background-size: 150% 100%;
    /* stretch image to fit exactly */
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 60px;
  }

  .footer {

    height: 250px;

  }

  .footer-icon {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 24px;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
  }
}